In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import env
import warnings
warnings.filterwarnings('ignore')

In [2]:
# from our acquire.py:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
def get_zillow_data():
    df = pd.read_sql("""SELECT *
FROM properties_2017
LEFT JOIN airconditioningtype 
ON airconditioningtype.airconditioningtypeid = properties_2017.airconditioningtypeid
LEFT JOIN architecturalstyletype
ON architecturalstyletype.architecturalstyletypeid = properties_2017.architecturalstyletypeid
LEFT JOIN buildingclasstype 
ON buildingclasstype.buildingclasstypeid = properties_2017.buildingclasstypeid
LEFT JOIN heatingorsystemtype
ON heatingorsystemtype.heatingorsystemtypeid = properties_2017.heatingorsystemtypeid
LEFT JOIN predictions_2017
ON predictions_2017.id = properties_2017.id
INNER JOIN (SELECT id, MAX(transactiondate) as last_trans_date 
            FROM predictions_2017
            GROUP BY id) predictions 
    ON predictions.id = properties_2017.id 
    AND predictions_2017.transactiondate = predictions.last_trans_date
LEFT JOIN propertylandusetype
ON propertylandusetype.propertylandusetypeid = properties_2017.propertylandusetypeid
LEFT JOIN storytype
ON storytype.storytypeid = properties_2017.storytypeid
LEFT JOIN typeconstructiontype
ON typeconstructiontype.typeconstructiontypeid = properties_2017.typeconstructiontypeid
JOIN unique_properties
ON unique_properties.parcelid = properties_2017.parcelid
WHERE latitude IS NOT NULL and longitude IS NOT NULL;""", get_connection('zillow'))
    return df

In [3]:
df = get_zillow_data()

In [4]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,transactiondate,id,last_trans_date,propertylandusetypeid,propertylandusedesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc,parcelid
0,0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,2017-01-01,0,2017-01-01,269,Planned Unit Development,NaN,None,NaN,None,10754147
1,1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,2017-01-01,1,2017-01-01,261,Single Family Residential,NaN,None,NaN,None,10759547
2,2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,...,2017-01-01,2,2017-01-01,47,Store/Office (Mixed Use),NaN,None,NaN,None,10843547
3,3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,...,2017-01-01,3,2017-01-01,47,Store/Office (Mixed Use),NaN,None,NaN,None,10859147
4,4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,...,2017-01-01,4,2017-01-01,31,Commercial/Office/Residential Mixed Used,NaN,None,NaN,None,10879947

In [5]:
df.columns

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'airconditioningtypeid', 'airconditioningdesc',
       'architecturalstyletypeid', 'architecturalstyledesc',
       'buildingclasstypeid', 'buildingclassdesc', 'heatingorsystemtypeid',
       'heatingorsystemdesc', 'id', 'parcelid', 'logerror', 'transactiondate',
       'id', 'last_trans_date', 'propertylandusetypeid', 'propertylandusedesc',
       'storytypeid', 'storydesc', 'typeconstructiontypeid',
       'typeconstructiondesc', 'parcelid'],
      dtype='object')

In [6]:
df.parcelid.duplicated().value_counts()

False    77614
dtype: int64

In [7]:
df.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False,  True, False,
        True, False,  True, False,  True,  True, False, False,  True,
       False,  True, False,  True, False,  True, False,  True])

In [8]:
len(df.columns)

80

In [9]:
df = df.loc[:,~df.columns.duplicated()]

In [10]:
len(df.columns)

69

In [11]:
df.transactiondate

0        2017-01-01
1        2017-01-01
2        2017-01-01
3        2017-01-01
4        2017-01-01
            ...
77609    2017-09-20
77610    2017-09-21
77611    2017-09-21
77612    2017-09-25
77613    2018-05-25
Name: transactiondate, Length: 77614, dtype: object

In [12]:
df.drop(df.tail(1).index,inplace = True)

In [13]:
df.transactiondate

0        2017-01-01
1        2017-01-01
2        2017-01-01
3        2017-01-01
4        2017-01-01
            ...
77608    2017-09-20
77609    2017-09-20
77610    2017-09-21
77611    2017-09-21
77612    2017-09-25
Name: transactiondate, Length: 77613, dtype: object

In [14]:
df.duplicated().any()

False

In [15]:
df.columns.value_counts()

last_trans_date           1
finishedsquarefeet50      1
pooltypeid7               1
airconditioningtypeid     1
heatingorsystemtypeid     1
                         ..
logerror                  1
fireplacecnt              1
unitcnt                   1
architecturalstyledesc    1
id                        1
Length: 69, dtype: int64

In [16]:
df.columns.tolist()

['id',
 'parcelid',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'airconditioningdesc',
 'architecturalstyledesc',
 'buildingclassdesc',
 'heatingorsystemdesc',
 'logerror',
 'transactiondate',
 'last_trans_date',
 'propertylandusedesc',
 'storydesc',
 'typeconstructiondesc']

In [17]:
df.parcelid.duplicated().value_counts()

False    77613
Name: parcelid, dtype: int64

In [21]:
df.isnull().any()

id                          False
parcelid                    False
airconditioningtypeid        True
architecturalstyletypeid     True
basementsqft                 True
                            ...
transactiondate             False
last_trans_date             False
propertylandusedesc         False
storydesc                    True
typeconstructiondesc         True
Length: 69, dtype: bool

In [22]:
# Will most likely fill nulls with zero
df.airconditioningtypeid.value_counts()

1.0     19626
13.0     1509
5.0       219
9.0        55
11.0       46
12.0        1
Name: airconditioningtypeid, dtype: int64

In [23]:
# Will most likely fill these nulls with zero
df.architecturalstyletypeid.value_counts()

7.0     133
8.0      10
21.0      5
2.0       3
Name: architecturalstyletypeid, dtype: int64

In [24]:
df.shape[0]

77613