In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import env

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings('ignore')

In [43]:
# from our acquire.py:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'
    
def get_zillow_data():
    df = pd.read_sql("""
SELECT prop.*, 
       pred.logerror, 
       pred.transactiondate, 
       air.airconditioningdesc, 
       arch.architecturalstyledesc, 
       build.buildingclassdesc, 
       heat.heatingorsystemdesc, 
       landuse.propertylandusedesc, 
       story.storydesc, 
       construct.typeconstructiondesc 
FROM   properties_2017 prop  
       INNER JOIN (SELECT parcelid,
                   Max(transactiondate) transactiondate 
                   FROM   predictions_2017 
  
                   GROUP  BY parcelid) pred
               USING (parcelid)
               			JOIN predictions_2017 as pred USING (parcelid, transactiondate)
       LEFT JOIN airconditioningtype air USING (airconditioningtypeid) 
       LEFT JOIN architecturalstyletype arch USING (architecturalstyletypeid) 
       LEFT JOIN buildingclasstype build USING (buildingclasstypeid) 
       LEFT JOIN heatingorsystemtype heat USING (heatingorsystemtypeid) 
       LEFT JOIN propertylandusetype landuse USING (propertylandusetypeid) 
       LEFT JOIN storytype story USING (storytypeid) 
       LEFT JOIN typeconstructiontype construct USING (typeconstructiontypeid) 
WHERE  prop.latitude IS NOT NULL 
       AND prop.longitude IS NOT NULL
""", get_connection('zillow'))
    return df

In [44]:
df = get_zillow_data()

In [45]:
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [46]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .70):
	#function that will drop rows or columns based on the percent of values that are missing:\
	#handle_missing_values(df, prop_required_column, prop_required_row
    threshold = int(round(prop_required_column*len(df.index),0))
    df = df.dropna(axis=1, thresh=threshold)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [47]:
def remove_columns(df, cols_to_remove):  
	#remove columns not needed
    df = df.drop(columns=cols_to_remove)
    return df

In [48]:
def wrangle_zillow():
    if os.path.isfile('zillow_cached.csv') == False:
        df = get_zillow(sql)
        df.to_csv('zillow_cached.csv',index = False)
    else:
        df = pd.read_csv('zillow_cached.csv')

In [23]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    prcnt_miss = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': prcnt_miss})
    return cols_missing

In [ ]:
nulls_by_col(df)

In [25]:
def nulls_by_row(df):
    num_missing = df.isnull().sum(axis=1)
    prcnt_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': prcnt_miss})\
    .reset_index()\
    .groupby(['num_cols_missing', 'percent_cols_missing']).count()\
    .rename(index=str, columns={'customer_id': 'num_rows'}).reset_index()
    return rows_missing

In [26]:
nulls_by_row(df)

   num_cols_missing percent_cols_missing  index
0                24    34.78260869565217     12
1                25   36.231884057971016     22
2                26    37.68115942028986     46
3                27   39.130434782608695    161
4                28    40.57971014492754    348
5                29   42.028985507246375   4311
6                30    43.47826086956522   2852
7                31   44.927536231884055   8979
8                32     46.3768115942029  11547
9                33    47.82608695652174  15183
10               34   49.275362318840585  15434
11               35    50.72463768115942   5681
12               36    52.17391304347826   6030
13               37    53.62318840579711   2861
14               38   55.072463768115945   1383
15               39    56.52173913043478    296
16               40   57.971014492753625    297
17               41    59.42028985507246     71
18               42    60.86956521739131     63
19               43    62.31884057971014    121
20               44    63.76811594202898    123
21               45    65.21739130434783    449
22               46    66.66666666666666    998
23               47    68.11594202898551    212
24               48    69.56521739130434     92
25               49    71.01449275362319     38
26               50    72.46376811594203      3

In [ ]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # value_counts()
    # observation of nulls in the dataframe
    '''
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3).to_markdown())
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe().to_markdown())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts())
        else:
            print(df[col].value_counts(bins=10, sort=False))
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [28]:
summarize(df)

=====================================================


Dataframe head:
|    |   id |   parcelid |   airconditioningtypeid |   architecturalstyletypeid |   basementsqft |   bathroomcnt |   bedroomcnt |   buildingclasstypeid |   buildingqualitytypeid |   calculatedbathnbr |   decktypeid |   finishedfloor1squarefeet |   calculatedfinishedsquarefeet |   finishedsquarefeet12 |   finishedsquarefeet13 |   finishedsquarefeet15 |   finishedsquarefeet50 |   finishedsquarefeet6 |   fips |   fireplacecnt |   fullbathcnt |   garagecarcnt |   garagetotalsqft |   hashottuborspa |   heatingorsystemtypeid |    latitude |    longitude |   lotsizesquarefeet |   poolcnt |   poolsizesum |   pooltypeid10 |   pooltypeid2 |   pooltypeid7 | propertycountylandusecode   |   propertylandusetypeid | propertyzoningdesc   |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidneighborhood |   regionidzip |   roomcnt |   storytypeid |   threequarterbathnbr |   typeconstructiontypeid |   unitcnt |   yardbuildingsqft17 |   yardbuildingsqft26 |   yearbuilt |   numberofstories |   fireplaceflag |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |   taxamount | taxdelinquencyflag   |   taxdelinquencyyear |   censustractandblock | airconditioningdesc   | architecturalstyledesc   | buildingclassdesc                                                    | heatingorsystemdesc   |   logerror | transactiondate   | last_trans_date   | propertylandusedesc       | storydesc   | typeconstructiondesc   |
|---:|-----:|-----------:|------------------------:|---------------------------:|---------------:|--------------:|-------------:|----------------------:|------------------------:|--------------------:|-------------:|---------------------------:|-------------------------------:|-----------------------:|-----------------------:|-----------------------:|-----------------------:|----------------------:|-------:|---------------:|--------------:|---------------:|------------------:|-----------------:|------------------------:|------------:|-------------:|--------------------:|----------:|--------------:|---------------:|--------------:|--------------:|:----------------------------|------------------------:|:---------------------|-------------------------:|---------------:|-----------------:|-----------------------:|--------------:|----------:|--------------:|----------------------:|-------------------------:|----------:|---------------------:|---------------------:|------------:|------------------:|----------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|------------:|:---------------------|---------------------:|----------------------:|:----------------------|:-------------------------|:---------------------------------------------------------------------|:----------------------|-----------:|:------------------|:------------------|:--------------------------|:------------|:-----------------------|
|  0 |    0 |   10754147 |                     nan |                        nan |            nan |             0 |            0 |                   nan |                     nan |                 nan |          nan |                        nan |                            nan |                    nan |                    nan |                    nan |                    nan |                   nan |   6037 |            nan |           nan |            nan |               nan |              nan |                     nan | 3.41444e+07 | -1.18654e+08 |               85768 |       nan |           nan |            nan |           nan |           nan | 010D                        |                     269 |                      |               6.0378e+07 |          37688 |             3101 |                    nan |         96337 |         0 |           nan |                   nan |                      nan |       nan |                  nan |                  nan |         nan |               nan |             nan |                          nan |         9           |             2016 |                       9 |       nan   |                      |                  nan |                   nan |                       |                          |                                                                      |                       | 0.0255949  | 2017-01-01        | 2017-01-01        | Planned Unit Development  |             |                        |
|  1 |    1 |   10759547 |                     nan |                        nan |            nan |             0 |            0 |                   nan |                     nan |                 nan |          nan |                        nan |                            nan |                    nan |                    nan |                    nan |                    nan |                   nan |   6037 |            nan |           nan |            nan |               nan |              nan |                     nan | 3.41404e+07 | -1.18625e+08 |                4083 |       nan |           nan |            nan |           nan |           nan | 0109                        |                     261 | LCA11*               |               6.0378e+07 |          37688 |             3101 |                    nan |         96337 |         0 |           nan |                   nan |                      nan |       nan |                  nan |                  nan |         nan |               nan |             nan |                          nan |     27516           |             2015 |                   27516 |       nan   |                      |                  nan |                   nan |                       |                          |                                                                      |                       | 0.0556191  | 2017-01-01        | 2017-01-01        | Single Family Residential |             |                        |
|  2 |    2 |   10843547 |                     nan |                        nan |            nan |             0 |            0 |                     5 |                     nan |                 nan |          nan |                        nan |                          73026 |                    nan |                    nan |                  73026 |                    nan |                   nan |   6037 |            nan |           nan |            nan |               nan |              nan |                     nan | 3.39894e+07 | -1.18395e+08 |               63085 |       nan |           nan |            nan |           nan |           nan | 1200                        |                      47 | LAC2                 |               6.0377e+07 |          51617 |             3101 |                    nan |         96095 |         0 |           nan |                   nan |                      nan |         2 |                  nan |                  nan |        1959 |                 1 |             nan |                       660680 |         1.43494e+06 |             2016 |                  774261 |     20800.4 |                      |                  nan |                   nan |                       |                          | Specialized buildings that do not fit in any of the above categories |                       | 0.00538285 | 2017-01-01        | 2017-01-01        | Store/Office (Mixed Use)  |             |                        |
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77613 entries, 0 to 77612
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77613 non-null  int64
 1   parcelid                      77613 non-null  int64
 2   airconditioningtypeid         21456 non-null  float64
 3   architecturalstyletypeid      151 non-null    float64
 4   basementsqft                  45 non-null     float64
 5   bathroomcnt                   77613 non-null  float64
 6   bedroomcnt                    77613 non-null  float64
 7   buildingclasstypeid           383 non-null    float64
 8   buildingqualitytypeid         50321 non-null  float64
 9   calculatedbathnbr             74390 non-null  float64
 10  decktypeid                    513 non-null    float64
 11  finishedfloor1squarefeet      5973 non-null   float64
 12  calculatedfinishedsquarefeet  76501 non-null  float64
 13  finishedsquarefeet12          70963 non-null  float64
 14  finishedsquarefeet13          235 non-null    float64
 15  finishedsquarefeet15          4758 non-null   float64
 16  finishedsquarefeet50          5973 non-null   float64
 17  finishedsquarefeet6           545 non-null    float64
 18  fips                          77613 non-null  float64
 19  fireplacecnt                  8412 non-null   float64
 20  fullbathcnt                   74390 non-null  float64
 21  garagecarcnt                  23300 non-null  float64
 22  garagetotalsqft               23300 non-null  float64
 23  hashottuborspa                1258 non-null   float64
 24  heatingorsystemtypeid         48474 non-null  float64
 25  latitude                      77613 non-null  float64
 26  longitude                     77613 non-null  float64
 27  lotsizesquarefeet             70534 non-null  float64
 28  poolcnt                       14261 non-null  float64
 29  poolsizesum                   777 non-null    float64
 30  pooltypeid10                  424 non-null    float64
 31  pooltypeid2                   834 non-null    float64
 32  pooltypeid7                   13409 non-null  float64
 33  propertycountylandusecode     77612 non-null  object
 34  propertylandusetypeid         77613 non-null  float64
 35  propertyzoningdesc            51361 non-null  object
 36  rawcensustractandblock        77613 non-null  float64
 37  regionidcity                  76087 non-null  float64
 38  regionidcounty                77613 non-null  float64
 39  regionidneighborhood          30512 non-null  float64
 40  regionidzip                   77338 non-null  float64
 41  roomcnt                       77612 non-null  float64
 42  storytypeid                   45 non-null     float64
 43  threequarterbathnbr           8204 non-null   float64
 44  typeconstructiontypeid        166 non-null    float64
 45  unitcnt                       51289 non-null  float64
 46  yardbuildingsqft17            2423 non-null   float64
 47  yardbuildingsqft26            66 non-null     float64
 48  yearbuilt                     76443 non-null  float64
 49  numberofstories               18119 non-null  float64
 50  fireplaceflag                 125 non-null    float64
 51  structuretaxvaluedollarcnt    76348 non-null  float64
 52  taxvaluedollarcnt             76688 non-null  float64
 53  assessmentyear                77613 non-null  float64
 54  landtaxvaluedollarcnt         76002 non-null  float64
 55  taxamount                     77102 non-null  float64
 56  taxdelinquencyflag            1504 non-null   object
 57  taxdelinquencyyear            1504 non-null   float64
 58  censustractandblock           75518 non-null  float64
 59  airconditioningdesc           21456 non-null  object
 60  architecturalstyledesc        151 non-null    object
 61  buildingclassdesc             383 non-null    object
 62  heatingorsystemdesc           48474 non-null  object
 63  logerror                      77613 non-null  float64
 64  transactiondate               77613 non-null  object
 65  last_trans_date               77613 non-null  object
 66  propertylandusedesc           77613 non-null  object
 67  storydesc                     45 non-null     object
 68  typeconstructiondesc          166 non-null    object
dtypes: float64(55), int64(2), object(12)
memory usage: 41.4+ MB
None
=====================================================


Dataframe Description:

|       |      id |        parcelid |   airconditioningtypeid |   architecturalstyletypeid |   basementsqft |   bathroomcnt |   bedroomcnt |   buildingclasstypeid |   buildingqualitytypeid |   calculatedbathnbr |   decktypeid |   finishedfloor1squarefeet |   calculatedfinishedsquarefeet |   finishedsquarefeet12 |   finishedsquarefeet13 |   finishedsquarefeet15 |   finishedsquarefeet50 |   finishedsquarefeet6 |      fips |   fireplacecnt |   fullbathcnt |   garagecarcnt |   garagetotalsqft |   hashottuborspa |   heatingorsystemtypeid |         latitude |        longitude |   lotsizesquarefeet |   poolcnt |   poolsizesum |   pooltypeid10 |   pooltypeid2 |   pooltypeid7 |   propertylandusetypeid |   rawcensustractandblock |   regionidcity |   regionidcounty |   regionidneighborhood |   regionidzip |     roomcnt |   storytypeid |   threequarterbathnbr |   typeconstructiontypeid |     unitcnt |   yardbuildingsqft17 |   yardbuildingsqft26 |   yearbuilt |   numberofstories |   fireplaceflag |   structuretaxvaluedollarcnt |   taxvaluedollarcnt |   assessmentyear |   landtaxvaluedollarcnt |       taxamount |   taxdelinquencyyear |   censustractandblock |       logerror |
|:------|--------:|----------------:|------------------------:|---------------------------:|---------------:|--------------:|-------------:|----------------------:|------------------------:|--------------------:|-------------:|---------------------------:|-------------------------------:|-----------------------:|-----------------------:|-----------------------:|-----------------------:|----------------------:|----------:|---------------:|--------------:|---------------:|------------------:|-----------------:|------------------------:|-----------------:|-----------------:|--------------------:|----------:|--------------:|---------------:|--------------:|--------------:|------------------------:|-------------------------:|---------------:|-----------------:|-----------------------:|--------------:|------------:|--------------:|----------------------:|-------------------------:|------------:|---------------------:|---------------------:|------------:|------------------:|----------------:|-----------------------------:|--------------------:|-----------------:|------------------------:|----------------:|---------------------:|----------------------:|---------------:|
| count | 77613   | 77613           |             21456       |                  151       |         45     |   77613       |  77613       |            383        |             50321       |         74390       |          513 |                   5973     |                       76501    |              70963     |                235     |                4758    |               5973     |                545    | 77613     |    8412        |  74390        |   23300        |         23300     |             1258 |             48474       |  77613           |  77613           |     70534           |     14261 |       777     |            424 |           834 |         13409 |              77613      |          77613           |        76087   |        77613     |                  30512 |      77338    | 77612       |            45 |           8204        |                166       | 51289       |             2423     |               66     |  76443      |       18119       |             125 |              76348           |     76688           |     77613        |         76002           | 77102           |           1504       |       75518           | 77613          |
| mean  | 38806   |     1.33795e+07 |                 1.92725 |                    7.43046 |        593.133 |       2.21462 |      3.08398 |              3.77546  |                 6.30049 |             2.30973 |           66 |                   1370.85  |                        1834.94 |               1767.55  |               1183.99  |                2807.28 |               1383.19  |               2401.69 |  6048.6   |       1.16845  |      2.25407  |       1.82421  |           382.238 |                1 |                 4.04305 |      3.40102e+07 |     -1.18217e+08 |     23565.5         |         1 |       521.251 |              1 |             1 |             1 |                259.935  |              6.04891e+07 |        35288.9 |         2573.12  |                 187991 |      96562.3  |     1.49387 |             7 |              1.00951  |                  5.98795 |     1.17397 |              320.042 |              261.909 |   1964.73   |           1.40107 |               1 |             178863           |    440749           |      2016        |        265051           |  5371.56        |             13.9156  |           6.04898e+13 |     0.0167549  |
| std   | 22405.1 |     8.3515e+06  |                 3.13298 |                    2.62935 |        460.917 |       1.08347 |      1.27555 |              0.459596 |                 1.72577 |             1.00199 |            0 |                    630.671 |                        1547.27 |                923.789 |                351.235 |                4936.23 |                677.028 |               1688.78 |    21.129 |       0.473317 |      0.991706 |       0.610084 |           247.106 |                0 |                 3.23114 | 244949           | 354965           |    121281           |         0 |       162.606 |              0 |             0 |             0 |                 16.9653 |         209775           |        52167   |          781.802 |                 166595 |       3797.31 |     2.8671  |             0 |              0.115409 |                  0.15523 |     1.48346 |              278.7   |              296.999 |     23.4415 |           0.53534 |               0 |             403535           |    834331           |         0.068083 |        528082           | 10407.6         |              1.54081 |           2.10076e+11 |     0.170887   |
| min   |     0   |     1.07117e+07 |                 1       |                    2       |         63     |       0       |      0       |              1        |                 1       |             1       |           66 |                     47     |                          20    |                 20     |                224     |                 148    |                 47     |                368    |  6037     |       1        |      1        |       0        |             0     |                1 |                 1       |      3.33394e+07 |     -1.19448e+08 |       129           |         1 |        28     |              1 |             1 |             1 |                 31      |              6.0371e+07  |         3491   |         1286     |                   6952 |      95982    |     0       |             7 |              1        |                  4       |     1       |               11     |               14     |   1808      |           1       |               1 |                  5           |         8           |      2003        |             4           |     2.54        |              6       |           6.0371e+13  |    -4.65542    |
| 25%   | 19403   |     1.15857e+07 |                 1       |                    7       |        220     |       2       |      2       |              4        |                 5       |             2       |           66 |                   1008     |                        1217    |               1200     |                960     |                1703    |               1011     |               1216    |  6037     |       1        |      2        |       2        |           300     |                1 |                 2       |      3.38327e+07 |     -1.18412e+08 |      5715           |         1 |       435     |              1 |             1 |             1 |                261      |              6.03731e+07 |        12447   |         2061     |                  41466 |      96186    |     0       |             7 |              1        |                  6       |     1       |              180     |               91.5   |   1950      |           1       |               1 |              78334.5         |    187048           |      2016        |         78412.2         |  2449.58        |             14       |           6.03731e+13 |    -0.0243251  |
| 50%   | 38806   |     1.25323e+07 |                 1       |                    7       |        540     |       2       |      3       |              4        |                 6       |             2       |           66 |                   1278     |                        1578    |               1546     |               1248     |                2186    |               1280     |               2009    |  6037     |       1        |      2        |       2        |           440.5   |                1 |                 2       |      3.40202e+07 |     -1.18186e+08 |      7016           |         1 |       500     |              1 |             1 |             1 |                261      |              6.03757e+07 |        25218   |         3101     |                 118849 |      96379    |     0       |             7 |              1        |                  6       |     1       |              264     |              177     |   1963      |           1       |               1 |             128391           |    321582           |      2016        |        175346           |  4006.71        |             14       |           6.03757e+13 |     0.00667045 |
| 75%   | 58209   |     1.41151e+07 |                 1       |                    7       |        732     |       3       |      4       |              4        |                 8       |             3       |           66 |                   1612     |                        2147    |               2083     |               1440     |                2991.75 |               1615     |               3375    |  6059     |       1        |      3        |       2        |           493     |                1 |                 7       |      3.41733e+07 |     -1.17955e+08 |      9963           |         1 |       593     |              1 |             1 |             1 |                261      |              6.05904e+07 |        45457   |         3101     |                 274750 |      96978    |     0       |             7 |              1        |                  6       |     1       |              380     |              297     |   1982      |           2       |               1 |             205519           |    513000           |      2016        |        324677           |  6198.63        |             15       |           6.05904e+13 |     0.039295   |
| max   | 77612   |     1.69602e+08 |                13       |                   21       |       2443     |      20       |     25       |              5        |                12       |            20       |           66 |                  15998     |                      161232    |              26345     |               2400     |              161232    |              15998     |              18599    |  6111     |       9        |     20        |      13        |          3774     |                1 |                24       |      3.48069e+07 |     -1.17556e+08 |         6.97101e+06 |         1 |      2176     |              1 |             1 |             1 |                275      |              6.11101e+07 |       396556   |         3101     |                 764167 |     399675    |    86       |             7 |              4        |                  6       |   199       |             6407     |             1497     |   2016      |           4       |               1 |                  6.64049e+07 |         1.49139e+08 |      2016        |             9.40111e+07 |     1.82415e+06 |             15       |           6.11101e+13 |     5.263      |
=====================================================
DataFrame value counts:
(-77.613, 7761.2]     7762
(7761.2, 15522.4]     7761
(15522.4, 23283.6]    7761
(23283.6, 31044.8]    7761
(31044.8, 38806.0]    7762
(38806.0, 46567.2]    7761
(46567.2, 54328.4]    7761
(54328.4, 62089.6]    7761
(62089.6, 69850.8]    7761
(69850.8, 77612.0]    7762
Name: id, dtype: int64
(10552854.795, 26600765.4]    77368
(26600765.4, 42489785.8]          0
(42489785.8, 58378806.2]          0
(58378806.2, 74267826.6]          0
(74267826.6, 90156847.0]         33
(90156847.0, 106045867.4]         1
(106045867.4, 121934887.8]        0
(121934887.8, 137823908.2]        0
(137823908.2, 153712928.6]        0
(153712928.6, 169601949.0]      211
Name: parcelid, dtype: int64
(0.987, 2.2]    19626
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        219
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         55
(9.4, 10.6]         0
(10.6, 11.8]       46
(11.8, 13.0]     1510
Name: airconditioningtypeid, dtype: int64
(1.9800000000000002, 3.9]      3
(3.9, 5.8]                     0
(5.8, 7.7]                   133
(7.7, 9.6]                    10
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   5
Name: architecturalstyletypeid, dtype: int64
(60.619, 301.0]     16
(301.0, 539.0]       6
(539.0, 777.0]      12
(777.0, 1015.0]      2
(1015.0, 1253.0]     6
(1253.0, 1491.0]     1
(1491.0, 1729.0]     1
(1729.0, 1967.0]     0
(1967.0, 2205.0]     0
(2205.0, 2443.0]     1
Name: basementsqft, dtype: int64
(-0.021, 2.0]    48718
(2.0, 4.0]       26370
(4.0, 6.0]        2148
(6.0, 8.0]         303
(8.0, 10.0]         59
(10.0, 12.0]        11
(12.0, 14.0]         2
(14.0, 16.0]         0
(16.0, 18.0]         0
(18.0, 20.0]         2
Name: bathroomcnt, dtype: int64
(-0.026000000000000002, 2.5]    21323
(2.5, 5.0]                      54206
(5.0, 7.5]                       1554
(7.5, 10.0]                       485
(10.0, 12.5]                       42
(12.5, 15.0]                        1
(15.0, 17.5]                        1
(17.5, 20.0]                        0
(20.0, 22.5]                        0
(22.5, 25.0]                        1
Name: bedroomcnt, dtype: int64
(0.995, 1.4]      1
(1.4, 1.8]        0
(1.8, 2.2]        3
(2.2, 2.6]        0
(2.6, 3.0]       78
(3.0, 3.4]        0
(3.4, 3.8]        0
(3.8, 4.2]      300
(4.2, 4.6]        0
(4.6, 5.0]        1
Name: buildingclasstypeid, dtype: int64
(0.988, 2.1]       38
(2.1, 3.2]        474
(3.2, 4.3]      11424
(4.3, 5.4]       2669
(5.4, 6.5]      14637
(6.5, 7.6]       4938
(7.6, 8.7]      13205
(8.7, 9.8]       1801
(9.8, 10.9]       292
(10.9, 12.0]      843
Name: buildingqualitytypeid, dtype: int64
(0.98, 2.9]     50916
(2.9, 4.8]      21470
(4.8, 6.7]       1658
(6.7, 8.6]        277
(8.6, 10.5]        54
(10.5, 12.4]       11
(12.4, 14.3]        2
(14.3, 16.2]        0
(16.2, 18.1]        0
(18.1, 20.0]        2
Name: calculatedbathnbr, dtype: int64
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 513
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
(31.048, 1642.1]      4598
(1642.1, 3237.2]      1287
(3237.2, 4832.3]        74
(4832.3, 6427.4]         8
(6427.4, 8022.5]         5
(8022.5, 9617.6]         0
(9617.6, 11212.7]        0
(11212.7, 12807.8]       0
(12807.8, 14402.9]       0
(14402.9, 15998.0]       1
Name: finishedfloor1squarefeet, dtype: int64
(-141.213, 16141.2]     76459
(16141.2, 32262.4]         26
(32262.4, 48383.6]          9
(48383.6, 64504.8]          2
(64504.8, 80626.0]          1
(80626.0, 96747.2]          1
(96747.2, 112868.4]         0
(112868.4, 128989.6]        0
(128989.6, 145110.8]        1
(145110.8, 161232.0]        2
Name: calculatedfinishedsquarefeet, dtype: int64
(-6.3260000000000005, 2652.5]    62396
(2652.5, 5285.0]                  7991
(5285.0, 7917.5]                   454
(7917.5, 10550.0]                   87
(10550.0, 13182.5]                  22
(13182.5, 15815.0]                   7
(15815.0, 18447.5]                   2
(18447.5, 21080.0]                   3
(21080.0, 23712.5]                   0
(23712.5, 26345.0]                   1
Name: finishedsquarefeet12, dtype: int64
(221.823, 441.6]     4
(441.6, 659.2]      15
(659.2, 876.8]      30
(876.8, 1094.4]     31
(1094.4, 1312.0]    48
(1312.0, 1529.6]    81
(1529.6, 1747.2]    22
(1747.2, 1964.8]     1
(1964.8, 2182.4]     1
(2182.4, 2400.0]     2
Name: finishedsquarefeet13, dtype: int64
(-13.084999999999999, 16256.4]    4723
(16256.4, 32364.8]                  19
(32364.8, 48473.2]                   9
(48473.2, 64581.6]                   2
(64581.6, 80690.0]                   1
(80690.0, 96798.4]                   1
(96798.4, 112906.8]                  0
(112906.8, 129015.2]                 0
(129015.2, 145123.6]                 1
(145123.6, 161232.0]                 2
Name: finishedsquarefeet15, dtype: int64
(31.048, 1642.1]      4580
(1642.1, 3237.2]      1293
(3237.2, 4832.3]        77
(4832.3, 6427.4]        12
(6427.4, 8022.5]         7
(8022.5, 9617.6]         2
(9617.6, 11212.7]        0
(11212.7, 12807.8]       1
(12807.8, 14402.9]       0
(14402.9, 15998.0]       1
Name: finishedsquarefeet50, dtype: int64
(349.76800000000003, 2191.1]    293
(2191.1, 4014.2]                167
(4014.2, 5837.3]                 80
(5837.3, 7660.4]                  1
(7660.4, 9483.5]                  1
(9483.5, 11306.6]                 0
(11306.6, 13129.7]                0
(13129.7, 14952.8]                1
(14952.8, 16775.9]                1
(16775.9, 18599.0]                1
Name: finishedsquarefeet6, dtype: int64
(6036.925, 6044.4]    52234
(6044.4, 6051.8]          0
(6051.8, 6059.2]      18808
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6571
Name: fips, dtype: int64
(0.991, 1.8]    7267
(1.8, 2.6]       914
(2.6, 3.4]       207
(3.4, 4.2]        17
(4.2, 5.0]         4
(5.0, 5.8]         0
(5.8, 6.6]         0
(6.6, 7.4]         1
(7.4, 8.2]         0
(8.2, 9.0]         2
Name: fireplacecnt, dtype: int64
(0.98, 2.9]     50926
(2.9, 4.8]      21475
(4.8, 6.7]       1649
(6.7, 8.6]        275
(8.6, 10.5]        50
(10.5, 12.4]       11
(12.4, 14.3]        2
(14.3, 16.2]        0
(16.2, 18.1]        0
(18.1, 20.0]        2
Name: fullbathcnt, dtype: int64
(-0.013999999999999999, 1.3]     5045
(1.3, 2.6]                      17442
(2.6, 3.9]                        513
(3.9, 5.2]                        265
(5.2, 6.5]                         13
(6.5, 7.8]                          3
(7.8, 9.1]                         12
(9.1, 10.4]                         1
(10.4, 11.7]                        2
(11.7, 13.0]                        4
Name: garagecarcnt, dtype: int64
(-3.775, 377.4]      7050
(377.4, 754.8]      15660
(754.8, 1132.2]       481
(1132.2, 1509.6]       71
(1509.6, 1887.0]       16
(1887.0, 2264.4]        7
(2264.4, 2641.8]        7
(2641.8, 3019.2]        1
(3019.2, 3396.6]        3
(3396.6, 3774.0]        4
Name: garagetotalsqft, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1258
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
(0.976, 3.3]    30569
(3.3, 5.6]          0
(5.6, 7.9]      17255
(7.9, 10.2]         1
(10.2, 12.5]        2
(12.5, 14.8]       38
(14.8, 17.1]        0
(17.1, 19.4]       14
(19.4, 21.7]       84
(21.7, 24.0]      511
Name: heatingorsystemtypeid, dtype: int64
(33337916.437000003, 33486140.2]      887
(33486140.2, 33632896.4]             3685
(33632896.4, 33779652.6]             9421

LAR1          7457
LAR3          1746
LARS          1580
LBR1N         1315
LAR2          1204
              ...
LCR2-1           1
LCRA7500E*       1
DOR1500*         1
BFM1*            1
DUR1A*           1
Name: propertyzoningdesc, Length: 2039, dtype: int64
(60370272.019999996, 60444919.091]    52234
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.072]          18808
(60592735.072, 60666643.062]              0
(60666643.062, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.023]              0
(60962275.023, 61036183.013]              0
(61036183.013, 61110091.003]           6571
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    55435
(42797.5, 82104.0]               17940
(82104.0, 121410.5]               1330
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                65
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]              1317
Name: regionidcity, dtype: int64
(1284.184, 1467.5]    18808
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       6571
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      52234
Name: regionidcounty, dtype: int64
(6194.784, 82673.5]     11337
(82673.5, 158395.0]      4620
(158395.0, 234116.5]       63
(234116.5, 309838.0]    11508
(309838.0, 385559.5]       45
(385559.5, 461281.0]     1722
(461281.0, 537002.5]        0
(537002.5, 612724.0]        0
(612724.0, 688445.5]       92
(688445.5, 764167.0]     1125
Name: regionidneighborhood, dtype: int64
(95678.306, 126351.3]    77326
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64
(-0.087, 8.6]    76016
(8.6, 17.2]       1592
(17.2, 25.8]         3
(25.8, 34.4]         0
(34.4, 43.0]         0
(43.0, 51.6]         0
(51.6, 60.2]         0
(60.2, 68.8]         0
(68.8, 77.4]         0
(77.4, 86.0]         1
Name: roomcnt, dtype: int64
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      45
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
(0.996, 1.3]    8138
(1.3, 1.6]         0
(1.6, 1.9]         0
(1.9, 2.2]        58
(2.2, 2.5]         0
(2.5, 2.8]         0
(2.8, 3.1]         4
(3.1, 3.4]         0
(3.4, 3.7]         0
(3.7, 4.0]         4
Name: threequarterbathnbr, dtype: int64
(3.9970000000000003, 4.2]      1
(4.2, 4.4]                     0
(4.4, 4.6]                     0
(4.6, 4.8]                     0
(4.8, 5.0]                     0
(5.0, 5.2]                     0
(5.2, 5.4]                     0
(5.4, 5.6]                     0
(5.6, 5.8]                     0
(5.8, 6.0]                   165
Name: typeconstructiontypeid, dtype: int64
(0.801, 20.8]     51275
(20.8, 40.6]          7
(40.6, 60.4]          1
(60.4, 80.2]          3
(80.2, 100.0]         0
(100.0, 119.8]        0
(119.8, 139.6]        2
(139.6, 159.4]        0
(159.4, 179.2]        0
(179.2, 199.0]        1
Name: unitcnt, dtype: int64
(4.603, 650.6]      2271
(650.6, 1290.2]      128
(1290.2, 1929.8]      19
(1929.8, 2569.4]       1
(2569.4, 3209.0]       1
(3209.0, 3848.6]       1
(3848.6, 4488.2]       0
(4488.2, 5127.8]       1
(5127.8, 5767.4]       0
(5767.4, 6407.0]       1
Name: yardbuildingsqft17, dtype: int64
(12.516, 162.3]     31
(162.3, 310.6]      19
(310.6, 458.9]       7
(458.9, 607.2]       4
(607.2, 755.5]       1
(755.5, 903.8]       1
(903.8, 1052.1]      0
(1052.1, 1200.4]     0
(1200.4, 1348.7]     2
(1348.7, 1497.0]     1
Name: yardbuildingsqft26, dtype: int64
(1807.791, 1828.8]        1
(1828.8, 1849.6]          0
(1849.6, 1870.4]          2
(1870.4, 1891.2]         41
(1891.2, 1912.0]       1224
(1912.0, 1932.8]       6488
(1932.8, 1953.6]      16309
(1953.6, 1974.4]      25672
(1974.4, 1995.2]      18466
(1995.2, 2016.0]       8240
Name: yearbuilt, dtype: int64
(0.996, 1.3]    11266
(1.3, 1.6]          0
(1.6, 1.9]          0
(1.9, 2.2]       6445
(2.2, 2.5]          0
(2.5, 2.8]          0
(2.8, 3.1]        402
(3.1, 3.4]          0
(3.4, 3.7]          0
(3.7, 4.0]          6
Name: numberofstories, dtype: int64
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       125
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: fireplaceflag, dtype: int64
(-66399.928, 6640497.7]     76331
(6640497.7, 13280990.4]        11
(13280990.4, 19921483.1]        4
(19921483.1, 26561975.8]        0
(26561975.8, 33202468.5]        0
(33202468.5, 39842961.2]        0
(39842961.2, 46483453.9]        0
(46483453.9, 53123946.6]        0
(53123946.6, 59764439.3]        1
(59764439.3, 66404932.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
(-149131.147, 14913922.6]     76675
(14913922.6, 29827837.2]         10
(29827837.2, 44741751.8]          1
(44741751.8, 59655666.4]          0
(59655666.4, 74569581.0]          1
(74569581.0, 89483495.6]          0
(89483495.6, 104397410.2]         0
(104397410.2, 119311324.8]        0
(119311324.8, 134225239.4]        0
(134225239.4, 149139154.0]        1
Name: taxvaluedollarcnt, dtype: int64
(2002.986, 2004.3]        1
(2004.3, 2005.6]          0
(2005.6, 2006.9]          0
(2006.9, 2008.2]          0
(2008.2, 2009.5]          0
(2009.5, 2010.8]          0
(2010.8, 2012.1]          0
(2012.1, 2013.4]          0
(2013.4, 2014.7]         33
(2014.7, 2016.0]      77579
Name: assessmentyear, dtype: int64
(-94007.076, 9401111.5]     75989
(9401111.5, 18802219.0]        10
(18802219.0, 28203326.5]        2
(28203326.5, 37604434.0]        0
(37604434.0, 47005541.5]        0
(47005541.5, 56406649.0]        0
(56406649.0, 65807756.5]        0
(65807756.5, 75208864.0]        0
(75208864.0, 84609971.5]        0
(84609971.5, 94011079.0]        1
Name: landtaxvaluedollarcnt, dtype: int64
(-1821.613, 182417.771]       77090
(182417.771, 364833.002]         10
(364833.002, 547248.233]          0
(547248.233, 729663.464]          0
(729663.464, 912078.695]          0
(912078.695, 1094493.926]         0
(1094493.926, 1276909.157]        1
(1276909.157, 1459324.388]        0
(1459324.388, 1641739.619]        0
(1641739.619, 1824154.85]         1
Name: taxamount, dtype: int64
Y    1504
Name: taxdelinquencyflag, dtype: int64
(5.989999999999999, 6.9]      2
(6.9, 7.8]                    4
(7.8, 8.7]                   11
(8.7, 9.6]                   26
(9.6, 10.5]                  33
(10.5, 11.4]                 65
(11.4, 12.3]                 66
(12.3, 13.2]                130
(13.2, 14.1]                465
(14.1, 15.0]                702
Name: taxdelinquencyyear, dtype: int64
(60370272021097.99, 60444919091200.49]    50639
(60444919091200.49, 60518827081401.0]         0
(60518827081401.0, 60592735071601.51]     18456
(60592735071601.51, 60666643061802.0]         1
(60666643061802.0, 60740551052002.49]         2
(60740551052002.49, 60814459042203.0]         0
(60814459042203.0, 60888367032403.51]         0
(60888367032403.51, 60962275022604.0]         0
(60962275022604.0, 61036183012804.49]         0
(61036183012804.49, 61110091003005.0]      6420
Name: censustractandblock, dtype: int64
Central          19626
Yes               1509
None               219
Refrigeration       55
Wall Unit           46
Window Unit          1
Name: airconditioningdesc, dtype: int64
Contemporary     133
Conventional      10
Ranch/Rambler      5
Bungalow           3
Name: architecturalstyledesc, dtype: int64
Buildings having wood or wood and steel frames                                                                                                                                                                                             300
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     78
Buildings having fireproofed reinforced concrete frames carrying all wall floor and roof loads which are all non-combustible.                                                                                                                3
Buildings having fireproofed structural steel frames carrying all wall, floor and roof loads. Wall, floor and roof structures are built of non-combustible materials.                                                                        1
Specialized buildings that do not fit in any of the above categories                                                                                                                                                                         1
Name: buildingclassdesc, dtype: int64
Central       30567
Floor/Wall    16593
Forced air      662
Yes             511
Solar            84
None             38
Radiant          14
Hot Water         2
Baseboard         2
Gravity           1
Name: heatingorsystemdesc, dtype: int64
(-4.666, -3.664]        3
(-3.664, -2.672]        1
(-2.672, -1.68]        36
(-1.68, -0.688]       145
(-0.688, 0.304]     75560
(0.304, 1.296]       1690
(1.296, 2.287]        103
(2.287, 3.279]         73
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
2017-06-30    1195
2017-04-28     917
2017-05-31     868
2017-07-28     815
2017-08-31     782
              ...
2017-06-03       1
2017-09-25       1
2017-04-15       1
2017-02-18       1
2017-08-12       1
Name: transactiondate, Length: 264, dtype: int64
2017-06-30    1195
2017-04-28     917
2017-05-31     868
2017-07-28     815
2017-08-31     782
              ...
2017-06-03       1
2017-09-25       1
2017-04-15       1
2017-02-18       1
2017-08-12       1
Name: last_trans_date, Length: 264, dtype: int64
Single Family Residential                     56079
Condominium                                   12491
Duplex (2 Units, Any Combination)              2852
Mobile Home                                    1681
Planned Unit Development                       1609
Triplex (3 Units, Any Combination)             1021
Quadruplex (4 Units, Any Combination)           980
Cluster Home                                    288
Commercial/Office/Residential Mixed Used        272
Store/Office (Mixed Use)                        144
Residential General                             103
Cooperative                                      48
Manufactured, Modular, Prefabricated Homes       35
Townhouse                                         9
Residential Common Area                           1
Name: propertylandusedesc, dtype: int64
Basement    45
Name: storydesc, dtype: int64
Frame       165
Concrete      1
Name: typeconstructiondesc, dtype: int64
=====================================================
nulls in dataframe by column:

                          num_rows_missing  percent_rows_missing
id                                       0              0.000000
parcelid                                 0              0.000000
airconditioningtypeid                56157             72.355147
architecturalstyletypeid             77462             99.805445
basementsqft                         77568             99.942020
...                                    ...                   ...
transactiondate                          0              0.000000
last_trans_date                          0              0.000000
propertylandusedesc                      0              0.000000
storydesc                            77568             99.942020
typeconstructiondesc                 77447             99.786118

[69 rows x 2 columns]
=====================================================
nulls in dataframe by row:
   num_cols_missing percent_cols_missing  index
0                24    34.78260869565217     12
1                25   36.231884057971016     22
2                26    37.68115942028986     46
3                27   39.130434782608695    161
4                28    40.57971014492754    348
5                29   42.028985507246375   4311
6                30    43.47826086956522   2852
7                31   44.927536231884055   8979
8                32     46.3768115942029  11547
9                33    47.82608695652174  15183
10               34   49.275362318840585  15434
11               35    50.72463768115942   5681
12               36    52.17391304347826   6030
13               37    53.62318840579711   2861
14               38   55.072463768115945   1383
15               39    56.52173913043478    296
16               40   57.971014492753625    297
17               41    59.42028985507246     71
18               42    60.86956521739131     63
19               43    62.31884057971014    121
20               44    63.76811594202898    123
21               45    65.21739130434783    449
22               46    66.66666666666666    998
23               47    68.11594202898551    212
24               48    69.56521739130434     92
25               49    71.01449275362319     38
26               50    72.46376811594203      3
=====================================================